{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style xmlns="http://www.w3.org/1999/html">
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
     Hi, sieht so aus als würde alles funktionieren!
    Führe zuerst <a href="/testuser/create">/testuser/create</a> aus um einen Benutzer zu erstellen!
    Schau dir die API-Beschreibung aus <a href="/api/docs">/api/docs</a> an!
</div>
{% endblock %}
